{% extends "vc/index.html" %}

{% block title %}
    Virtual Cemetery
{% endblock %}

{% block top_search %}

{% endblock %}

{% block menu %}
    <div class="menu">
        <button class="menu_dots btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
        <nav class="menu_options dropdown-menu" aria-labelledby="dropdownMenuButton" id="menu_options1">
            <a class="dropdown-item" href="#">התחברות</a>
            <a class="dropdown-item" href="#">הרשמה</a>
            <a class="dropdown-item" href="#">יצירת קשר</a>
        </nav>
    </div>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="title bg-info">
            <h1 id="title_text">titel</h1>
        </div>

        <div class="center py-3">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control" type="search" aria-label="Search">
                <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <div class="p-2 list_of_people">
            <div class="row">
                {% for person_name in list_of_people %}
                <a href="{% url 'vc:page' person_name %}" class="col">
                    <div class="person">
                        <p>{{ person_name }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {{ form }}
    </div>
{% endblock %}


